.header-two .logo img {
    height: 70px;
}

.btn-primary {
    background: #018036;
}

.header-get-a-quote .btn-primary {
    color: #FFF !important;
}

.header-get-a-quote .btn-primary:hover {
    background: #006028;
    color: #ffffff !important;
}