.header-two .logo img {
    height: 70px;
}

.btn-primary {
    background: #018036;
}

.social-icon i {
    font-size: 20px;
}

.navbar-light ul.navbar-nav > li > a.btn-primary {
    color: #FFF !important;
}

.navbar-fixed {
    /* border-bottom: 1px solid #fe1718; */
    box-shadow: 0px -10px 20px #fe1718;
}

.header-get-a-quote .btn-primary:hover {
    background: #006028;
    color: #ffffff !important;
}

.dropdown-menu {
    border-top: 2px solid #fe1718;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus {
    color: #018036;
}

ul.navbar-nav > li > a i {
    margin-left: 5px;
}

.btn-primary:hover, .btn-dark:hover, .btn-white.btn-primary:hover {
    background: #006028;
}

.service-box-title a:hover, .ts-service-info .learn-more:hover {
    color: #000;
}

.ts-service-image-wrapper {
    margin-bottom: 15px;
}

.ts-service-box .d-flex {
    flex-direction: column;
}

.ts-service-box-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ts-service-box-img img {
    height: 40px;
}

.service-box-title {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    margin-bottom: 0;
    padding-left: 15px;
}

.ts-service-info {
    margin-left: 0px;
    margin-top: 5px;
}

#facts, .subscribe { 
    background:  #018036 /* #252525; */
}

#btn-youtube a {
    color: #fff;
    background-color :#fe1718;
    border-color: #fe1718;
    margin-top: 15px;
}

#btn-youtube a i {
    padding-right: 5px;
}

.ts-service-area i {
    font-size: 26px;
    margin-left: 15px;
    margin-right: 5px;
    color: #fe1718;
}

.ts-service-area h4 {
    color: #018036;
}

.shuffle-btn-group {
    border-bottom-color: #018036;
}

.shuffle-btn-group label.active {
    color: #FFF;
    background: #018036;
}

.shuffle-item .project-img-container .project-item-info-content .project-item-title a:hover {
    color: #FFF;
}

.shuffle-item .project-img-container .project-item-info-content .project-cat {
    background: #018036;
    color: #FFF;
}

.shuffle-item .project-img-container .gallery-popup .gallery-icon {
    background: #fe1718;
}

.clients-logo img {
    max-height: 95px;
}

.quote-item .quote-text:before, .slick-dots li.slick-active button:before, .slick-dots li button:hover:before {
    color: #fe1718;
}

.quote-author {
    color: #018036;
}

.latest-post .post-title a:hover {
    color: #018036;
}

.general-btn .btn-primary:hover {
    background: #006028;
}

.footer, .footer-main {
    background-color: #018036;
}

.footer, .footer-social ul li a i, .footer-widget ul.list-arrow li a, .footer-widget ul.list-arrow li:before {
    color: #FFF;
}

.footer-social ul li a i {
    font-size: 24px;
}

.footer-widget ul.list-arrow li:hover a, .footer-widget ul.list-arrow li:hover, .footer-social ul li a i:hover {
    color: #fe1718;
}

.footer .widget-title {
    border-left: 3px solid #fe1718;
}

.copyright {
    background: #006028;
}

#back-to-top .btn.btn-primary {
    color: #fe1718;
}

.navbar-toggler {
    background: #018036;
}

@media (max-width: 575px) {

    .top-social ul li a {
        padding: 0 8px;
    }

    .social-icon i {
        font-size: 18px;
    }

    .service-box-title {
        flex: none;
    }

    .ts-service-area h4 {
        font-size: 0.98rem;
    }

    .section-sub-title {
        margin-bottom: 45px;
    }

    section {
        padding-top: 45px;
    }

    #facts iframe {
        margin: 15px;
        max-height: 220px;
    }

    .shuffle-btn-group {
        display: none;
    }

    .footer-menu {
        display: none;
    }
}

/************************************************************************************
****************************         EQUIPE        **********************************
*************************************************************************************/

.banner-title {
    color: #018036;
}

.section-sub-title p {
    font-weight: normal;
    text-transform: none;
    margin-bottom: 5px;
}

.ts-team-content-classic .ts-name {
    margin-bottom: 0;
}

.equipe .team-img-wrapper img {
    border-radius: 30px;
}

.ts-team-content-classic .ts-designation {
    line-height: normal;
    color: #018036;
}

.ts-description {
    font-size: 14px;
    margin-bottom: 0;
}

.ts-description b {
    font-size: 13px;
}

.ts-team-content-classic .team-social-icons a, .ts-team-content-classic .team-social-icons a i{
    color: #fe1718;
}

.ts-team-content-classic .team-social-icons a:hover, .ts-team-content-classic .team-social-icons a i:hover{
    color: #cf0505;
}

.banner-title img {
    margin-bottom: -50px;
}

@media (max-width: 575px) {
    #banner-area {
        background-position-x: -270px !important;
    }

    .banner-area {
        min-height: 200px !important;
    }

    .banner-title img {
        height: 35px;
    }
}