.header-two .logo img {
    height: 70px;
}

.btn-primary {
    background: #018036;
}

.navbar-light ul.navbar-nav > li > a.btn-primary {
    color: #FFF !important;
}

.header-get-a-quote .btn-primary:hover {
    background: #006028;
    color: #ffffff !important;
}

.dropdown-menu {
    border-top: 2px solid #fe1718;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus {
    color: #018036;
}